.nav{
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(12px);
  background: rgba(0,0,0,.6);
  display:flex;
  justify-content:space-between;
  padding:14px 22px;
}

.logo{
  color:white;
  text-decoration:none;
  font-size:20px;
  font-weight:800;
}

.nav-menu{
  display:flex;
  gap:24px;
}

.nav-item{
  color:#ddd;
  text-decoration:none;
  cursor:pointer;
  position:relative;
}

.nav-item:hover{
  color:white;
}

.dropdown{
  background:#0f0f0f;
  position:absolute;
  top:24px;
  left:0;
  border-radius:10px;
  padding:10px;
  display:none;
}

.group:hover .dropdown{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.dropdown a{
  color:white;
  text-decoration:none;
} 